.profile-form{
    margin: auto;
    background-color: white;
    width: fit-content;
    height: auto;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    
}
.profile-form li{
    font-weight: bold;
    border-radius: 5px;
    margin: 3px;
}
.sidebar ul{
    margin: auto;
    background-color: white;
    width: fix-content;
    height: auto;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    margin-top: 60px;
    margin-left: 20px;
    top: 50px;
    position: absolute;

}
.sidebar li:hover{
    cursor: pointer;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 10px;
}
.sidebar li{
    padding: 10px;
    border-radius: 5px;
    
}
.profile-info{
    flex : 1;
}
.restday-form{
    margin: auto;
    background-color: white;
    width: fit-content;
    height: auto;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    display:grid;
}
.submit-rest{
    margin: auto;
    width: fit-content;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.restday-form li{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.productivity-graph{
    margin: auto;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}
.restday-requests{
    margin: auto;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}
.restday-list{
    margin: auto;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.restday-list li{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.productivity-container{
    padding: 2rem;
    height: 100vh;
    margin:auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 60%;
    height: auto;
    margin: 1rem auto;
}


.line-chart{
    width: 60%;
    margin: 2rem auto;
}

input
{
    border: none;
    background-color: transparent;
}

input:focus{
    outline: none;
}

.inputs-productivity{
    border: 2px solid #3C335C;
    background-color: white;
    width: 20%;
    margin: 1rem auto;
}

button{
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 2px solid #3C335C;
    border-radius: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #3C335C;
    cursor: pointer;
}


@media screen and (max-width: 769px){
    .productivity-container{
        padding: 5rem 1rem;
    }

    .line-chart{
        width: 100%;
        margin: 3rem auto;
    }

    .inputs-productivity{
        width: 65%;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 325px){
    .inputs-productivity{
        width: 80%;
    }
}